.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.logo {
  background-image: url("img/logo.png");
  background-repeat: no-repeat;
  width: 250px;
  height: 150px;
  background-size: contain;
  margin-left: 50px;
}

.basket {
  background-image: url("img/basket.png");
  background-repeat: no-repeat;
  width: 180px;
  height: 90px;
  background-size: contain;
  margin-top: 60px;
}

.categories {
  margin-left: 90px;
  margin-top: 70px;
  float: left;
  height: 1500px;
}

img {
  width: 300px;
  height: 300px;
}

.row_of_products {
  display: flex;
  justify-content: space-between;
}

.product {
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 70px;
}

p {
  padding: 5px;
}

.selected {
  width: 1300px;
}

h2 {
  margin-left: 270px;
  margin-top: 50px;
}

.product_description {
  position: absolute;
  margin-left: 100px;
  margin-top: 30px;
}

p {
  font-weight: bold;
}